
.exhibit-tileView-body { list-style: none; }
.exhibit-collectionView-group-count { display: none; }


div.app-thumbnail {
   float:      left;
   width:      19.7em;
   height:     16em;
   border:     1px solid #BCB79E;
   background: #F2F2F2;
   padding:    1em;
   margin:     0.3em;
   overflow-y:auto;

}

hr { display: block; height: 1px;
 border: 0; border-top: 1px solid #CC0000;
 margin: 1em 0; padding: 0; } 

 .petrosino {
  color: #CC0000 !important;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

.logo {
  padding: 0px 15px !important;
}

ul.nav li a, ul.nav li a:visited {
    color: #CC0000 !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #CC0000 !important;
    text-decoration: underline !important;
}

ul.nav li.active a {
    color: #CC0000 !important;
}

a {
    color: #CC0000;
}

/* rimosso momentaneamente export tool */
.exhibit-toolboxWidget-button {
    visibility: hidden !important;
}
/* rimosso momentaneamente export tool */

.btn {
    padding: 2px 4px;
}

.btn-danger {
    border: 1px solid #CC0000;
    padding: 15px 30px;
}

.jumbotron {
  background: url(../img/target_big.png) no-repeat right;
  background-size: 200px;
  background-color: #f8f8f8;
}